@import '../../styles/variables.scss';

nav.main-menu {
  background-color: $gray-light-color;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: block;
    padding: 0.5rem 1rem;
    color: $gray-darker-color;
    text-decoration: none;
    border-bottom: solid 2px transparent;

    &.active {
      border-bottom-color: $primary-color;
    }

    &:hover {
      border-bottom-color: $orange-color;
    }
  }
}