@import '../../styles/variables.scss';

.help-component {
  h1 {
    margin-bottom: 2rem;
  }

  nav ul li a {
    text-decoration: none;
    color: $gray-dark-color;

    &:hover {
      color: $orange-color;
    }
  }
}